<div class="container">
  <h1 class="mb-4 mt-3">My Articles</h1>
  <% @articles.each do |article| %>
    <article>
      <h2 class="mt-3"><%= link_to article.title, article %></h2>
      <%= article.content[0..100] %>
    </article>
  <% end %>
</div>
